@charset "utf-8";
body {
	
	background-color: #f6f6f6;
}


/*头部*/

.header-zt {
	position: fixed;
	top:0px;
	width: 100%;
	z-index: 100;
	background-color: black;
}

.nav-zt a {
	color: #ababad;
	font-size: 16px;
}

.nav-zt a:hover {
	color: white;
}

.nav-zt .active-zt {
	color: white;
}

.nav-zt li {
	padding-left: 36px;
}

.container-zt {
	padding-top: 24px;
	padding-bottom: 24px;
}

.log-zt {
	position: absolute;
	height: 28px;
	overflow: hidden;
}

.log-zt img {
	transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-ms-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
	transition: all ease-out 0.5s;
	cursor: pointer;
}

.log-zt img:hover {
	transform: translate3d(0px, -35px, 0px);
}


/*第二部分*/


.box-zt{
	margin-top:66px;
}
.second-left-zt .msg-con {
	padding-right: 32px;
	padding-left: 32px;
	padding-top: 44px;
	padding-bottom: 44px;
}

.second-left-zt .msg-con:hover {
	background-color: gainsboro;
}

.second-left-zt .msg-con a {
	font-size: 16px;
}

.second-left-zt .msg-con a:hover {
	color: #8d7a8d;
}

.second-right-zt {
	padding-top: 44px;
}

.shop {
	padding-left: 20px;
}


/*footer 尾部*/

.foot-one-zt {
	padding-top: 56px;
	padding-bottom: 56px;
	border-bottom: 1px solid darkgray;
}

.footer-zt {
	background-color: white;
}

.foot-one-zt {
	padding-left: 50px;
}

.foot-one-zt-msg {
	padding-right: 124px;
	vertical-align: middle;
}

.foot-one-zt-msg span {
	font-size: 16px;
}

.foot-two-zt-msg {
	padding: 46px 10px 46px 20px;
	border-right: 1px solid darkgray;
	width: 300px;
}

.foot-two-zt-msg1 {
	padding-top: 10px;
	padding-left: 5px;
	width: 200px;
}

.foot-two-zt-msg1 .msg1 {
	font-size: 16px;
	color: black;
	padding-bottom: 6px;
}

.foot-two-zt-msg .tan-zt {
	position: absolute;
	top: -80px;
	right: 80px;
	display: none;
}

.foot-two-zt-msg .msg2 {
	font-size: 14px;
}

.foot-two-zt-msg:hover .tan-zt {
	display: block;
}

.active-zt2 {
	border-right: none;
}

.foot-three-zt {
	padding-top: 40px;
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
	padding-left: 150px;
}

.foot-three-zt table {
	width: 754px;
}

.foot-three-zt table th {
	font-size: 16px;
	font-weight: bolder;
	color: black;
}

.foot-three-zt table th {
	padding-bottom: 10px;
}

.foot-three-zt table td {
	padding-bottom: 10px;
	font-size: 14px;
}

.foot-three-zt a:hover {
	border-bottom: 1px solid darkgray;
	color: black;
}

.foot-four-zt {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.foot-four-zt-msg1 {
	font-size: 12px;
}

.foot-four-zt-msg2 a {
	color: blue;
}