@charset "utf-8";
/*公共类*/
html,body{
	font-size:12px;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
.container{
	width:1080px;
	margin: 0 auto;
}
.relative{
	position:relative
}