@charset "utf-8";
.county-guan .am-u-sm-4 {
	padding-left: 0px;
	padding-right: 0px;
}

.np-bg-grey .am-u-sm-6 {
	padding: 0% 0% 1% 0.5%;
	padding-top: 0px;
}

.np-bg-grey .am-u-sm-6 img {
	width: 98.4%;
}

.np-bg-grey .m-labelitem {
	top: 0px;
	left: 0px;
}

.np-bg-grey .u-goodsicn {
	padding: 0px 3px;
}

.county-nav{
	border-bottom: 1px solid #C3C3C3;
}
