@charset "utf-8";
.m-emptycoupon{
	padding: 60px 0px 200px;
}
.order{
	background: url(../img/xiangqing/icon2.png);
}
.emptyorder{
	position: absolute;
	width: 102px;
	height: 101px;
	background-position: -117px -497px;
	left: 37%;
}
.empty-tu{
	height: 101px;
}
.emttip {
    margin-top: 20px;
}
/*导航*/
.mycoupon{
	border-top: 1px solid #F0F0F0;
	border-bottom: 2px solid #f0f0f0;
}
.mycoupon span{
	display: inline-block;
	padding: 10px 0px;
}
.scrollspy-nav  .active {
	color: #d22046;
	border-bottom: 2px solid #d22147;
}
.scrollspy-nav li {
	font-size: 13px;
	padding: 0px;
}